body {font-family: "Hoefler Text", Georgia, serif; background-color: white; line-height: 1.2em; 
    display: flex; flex-wrap:wrap;
}
container,nav,main { max-width: 40em;}
h1 {font-size: 2em;}
h2 {font-size: 1.25em;}
h1, h2, h3, h4, h5, h6, nav {
    font-family: "Gill Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: black;
    margin: 0px;
    padding: .25em;
}
a {text-decoration: none;}
nav {
    display: flex;
    justify-content: space-between;
    background: ghostwhite;
    align-items: center;
    }
label,input,select,button {font-size: 1.2em;}
input#constituency {width:21em;}
#resultscontainer {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 1em;
    }
#map {min-width:400px; overflow:hidden;}
#map svg {width:100%;height:100%}
