body {font-family: "Hoefler Text", Georgia, serif; background-color: white; line-height: 1.2em; max-width: 40rem; }
h1 {font-size: 2.5em;}
h2 {font-size: 1.25em;}
h1, h2, h3, h4, h5, h6, nav {
    font-family: "Gill Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: black;
}
a {text-decoration: none;}
nav {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    margin: 2em;
    padding: 1em;
    border: 1px solid grey;
    }
label,input,select,button {font-size: 1.2em;}
#resultscontainer {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 1em;
    }
